/* universal css */
* {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
}

/* hero sectoin */
.hero-section {
    background: #fceef1;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;
    margin-bottom: 50px;
}

.hero-info h2 {
    font-size: 3em;
    font-weight: bolder;
}

.hero-info p {
    color: #7C7677;
    margin-bottom: 20px;
}

.btn-primary {
    padding: 8px 18px;
    border: none;
    border-radius: 5px;
    background: #E55473;
    color: #ffffff;
    font-size: 16px;
    font-weight: 600;
}

.hero-image img {
    height: 600px;
}

/* feature section */
.feature-section {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.feature-info {
    text-align: center;
    margin-bottom: 30px;
}

.feature-info h2 {
    font-size: 2em;
    font-weight: 800;
}

.feature-info p {
    color: #B3B3B3;
}

.feature-images {
    display: flex;
    gap: 10px;
    justify-content: center;
}

figure {
    margin: 0;
}

figure img {
    border-top-left-radius: 200px;
    border-top-right-radius: 200px;
    height: 400px;
    width: 300px;
    padding: 20px;
}

.img-1 {
    background: #F1DDE7;
}

.img-2 {
    background: #D9EFF0;
}

.img-3 {
    background: #E3EBDB;
}

figcaption {
    text-align: center;
    text-decoration: underline;
    font-weight: 600;
    font-size: 1.3em;
}

/* key feature part */
.key-features {
    background: #f4f4f4;
    margin: 0 auto;
    width: 80%;
    margin-bottom: 50px;
    padding: 40px;
    border-radius: 7px;
}

.key-feature-card {
    display: flex;
    justify-content: space-evenly;
}

.key-feature-info {
    text-align: center;
}

.key-feature-info p {
    color: #505050;
    font-weight: 800;
}

/* hot deal section */
.hot-deal {
    background: #FDF6F8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    margin-bottom: 50px;
}

.hot-deal-info h2 {
    font-size: 2em;
    font-weight: 800;
}

.red-color {
    color: red;
}

.hot-deal-info p {
    color: #505050;
    font-weight: 600;
    margin-bottom: 20px;
}

.hot-deal-img img {
    height: 300px;
}

/* instagram section */
.instagram,
.pinterest {
    width: 80%;
    margin: 0 auto;
    margin-bottom: 50px;
}

.instagram-info,
.pinterest-info {
    text-align: center;
    margin-bottom: 30px;
}

.instagram-info h2,
.pinterest-info h2 {
    font-size: 2em;
    font-weight: 800;
}

.instagram-info p,
.pinterest-info p {
    font-weight: 600;
    color: #505050;
}

.instagram-img,
.pinterest-img {
    display: flex;
    justify-content: center;
    gap: 7px;
}

.insta-img {
    width: 250px;
    height: 250px;
    border-radius: 5px;
}

.pin-img {
    width: 250px;
    height: 250px;
    background: #F0F0F0;
    border-radius: 5px;
}

/* get-touch */
.get-touch {
    background-image: url(images/Rectangle\ 9.png);
    padding: 100px;
    width: 70%;
    margin: 0 auto;
    margin-bottom: 50px;
    text-align: center;
    border-radius: 5px;
}

.get-touch-info {
    margin-bottom: 20px;
}

.get-touch-info h2 {
    font-size: 2em;
    font-weight: 800;
}

.get-touch-info p {
    font-size: 14px;
    font-weight: 400;
    color: #505050;
}

input[type='email'] {
    padding: 10px;
    width: 50%;
    border: none;
    border-radius: 5px;
}

/* footer section */
footer {
    background: black;
    padding: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #F0F0F0;
}

footer h2 {}

footer p {
    text-align: center;
}